<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TF-IDF Analyzer</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <header>
        <div class="py-2 px-20 flex justify-between items-center border-b border-b-[#cccccc50]">
            <a href="/">
                <h1 class="text-2xl">TF-IDF Analyzer</h1>
            </a>
            <ul>
                <li>
                    <a href="#">
                        Github
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main class="px-20">
        {% block main %}
        {% endblock main %}
    </main>
</body>
</html>